.search {
    padding: 0.9rem 0;
    border: none;
    border-bottom: solid 1px;
    width: inherit;
    background-color: #F1F4F9;

}

.add {
    padding: 1rem 3.5rem;
    margin: 0 1rem;
    text-align: center;
    color: white;
    background-color: #5393FF;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0;
}

.list li:first-child {
    width: 100%;
}

.error {
    text-align: center;
    color: red;
}