.tabContent {
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a:hover,
a.active {
    color: #35A9E1;
    border-bottom: solid #35A9E1;
}