.taskContent {
    width: 100%;
    max-height: 100%;
    padding: 0.7rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.3rem;
    background-color: #FFF;
    box-shadow: 1px 11px 15px -6px rgba(0, 0, 0, 0.3);
}

.taskContent .buttonGroup {
    display: flex;
    gap: 1rem;
}

.taskContent .title {
    margin: auto;
    padding: 0.8rem;
    overflow-wrap: anywhere;
}

/* Чек бокс и его стили */
.checkbox {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #888888;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    padding: 0.7rem;
}

.checkbox:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
    background-size: 70%;
}

/* Смена цвета границы при наведении */
.checkbox:hover:not(:disabled) {
    border-color: #888888;
}

/* Стили для чекбокса при фокусе */
.checkbox:focus {
    outline: none;
}

/* Отключенный чекбокс */
.checkbox:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox:disabled~.checkbox-label {
    opacity: 0.5;
    cursor: not-allowed;
}


.edit {
    padding: 1rem 1.2rem;
    background-color: #5491FF;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.edit img {
    width: auto;
    height: 1rem;
}


.delete {
    padding: 1rem 1.2rem;
    background-color: #FF665B;
    border: none;
    border-radius: 0.3rem;
    text-align: center;
    cursor: pointer;
}

.delete img {
    width: auto;
    height: 1rem;
}

.error {
    text-align: center;
    color: red;
}

/* Медиазапросы */

@media (max-width: 320px) {
    .taskContent div {
        flex-wrap: wrap;
        width: 100%;
    }

    .taskContent span {
        padding: 0 1.7rem;
    }

}